[user]
	name = wknar
	email = wakana.ara@gmail.com
[core]
	editor = vim
[color]
  ui = auto
[alias]
  st = "!f(){ \
          git status; \
          echo \"\n ====== Syntax Check ======\"; \
          git status --short | while read line; \
          do \
            if [[ $line =~ ^.*\\.(php)$ ]]; then \
              php -l `echo $line | sed -e \"s/M //g\"` > /dev/null; \
              [[ $? == 0 ]] && st=32 || st=33; \
              echo \"\\033[0;$(echo $st)m$(php -l `echo $line | sed -e \"s/M //g\"`)\\033[0;39m\"; \
            fi; \
          done; \
        };f"
