[user]
	name = wknar
	email = wakana.ara@gmail.com
[core]
	editor = vim
	autocrlf = input
[color]
  ui = auto
[color "grep"]
  match = cyan
  linenumber = bold white
  filename = yellow
[grep]
  linenumber = true
[alias]
  st = status
  co = checkout
  br = branch
  cl = clone
  cm = commit
  ps = push --force-with-lease
  pl = pull
  gr = grep
  git = !exec git
[pager]
  branch = cat
